.insurance_wpr{
    padding: 100px 20px;
}
.insurance_head{
    border-radius: 8px;
    border: 1px solid #000;
    padding: 10px;
}
.insurance_details{
    border-radius: 8px;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
}
.insurance_r{
    padding: 10px
}
.type_head{
    font-weight: bold;
}
.desc_wpr h3 {
    padding-bottom: 10px;
    font-weight: 16px;
}
.btn_action{
    width: 180px;
    float: left;
    text-align: center;
    background-color: #9a1c1f;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
}
.sub_label{
    font-weight: bold;
}
.ico_wpr img{
    width: 30px;
}
.damage_img_wpr{
    padding: 10px;
}