.card_blog {
  cursor: pointer;
}

.selected-tag {
  background-color: #ac0003;
    color: white;
    border-color: #d27677;
}

.blogimg {
  height: 250px;
}

.no-data-found {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: rgb(130 130 130/1);
  font-weight: 600;
}::ng-deep .ngx-pagination{
    display: flex;
}::ng-deep .ngx-pagination li {
  margin: 2px 5px !important;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: #000;
  font-weight: 500;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0; */
  /* padding-top: auto; */
  height: 35px;
  text-align: center;
  vertical-align: middle;
  /* width: 35px; */
}

::ng-deep .ngx-pagination li a,
::ng-deep .ngx-pagination li.current span,
::ng-deep .ngx-pagination li.pagination-previous a,
::ng-deep .ngx-pagination li.pagination-next a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .ngx-pagination .pagination-previous a:before,
::ng-deep .ngx-pagination .pagination-previous.disabled:before,
::ng-deep .ngx-pagination .pagination-next a:before,
::ng-deep .ngx-pagination .pagination-next.disabled:before {
  margin-right: 0.2rem;
}

::ng-deep .ngx-pagination li.current {
  background-color: black;
  color: white;
  border-radius: 50%;

}

::ng-deep .ngx-pagination li.pagination-previous,
::ng-deep .ngx-pagination li.pagination-next {
  border: solid 1px #000000;
  color: #000000;
  /* padding: 0 20px; */
  border-radius: 25px !important;
}

::ng-deep .ngx-pagination li.pagination-previous.disabled,
::ng-deep .ngx-pagination li.pagination-next.disabled {
  border: solid 1px #858585;
  color: #858585;
  /* padding: 0 20px; */
  border-radius: 25px !important;
}

::ng-deep .ngx-pagination li a:hover {
  background-color: rgba(255, 255, 255, 0);
}

::ng-deep .ngx-pagination .pagination-previous,
::ng-deep .ngx-pagination .pagination-next {
  width: 120px;
}
.blog-category{
  font-family: 'Plus Jakarta Sans';
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
    height: 40px;
    min-width: 80px;
    text-align: center;
}