.country-code {
  display: flex;
  position: absolute;
  align-items: center;
  text-align: center;
  top: 25px;
  left: 1px;
  background-color: #f2f2f2;
  height: 45px;
  width: 65px;
}

#mobile_code {
  padding-left: 70px !important;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  animation: animate_dropdown linear 0.2s;
  animation-iteration-count: 1;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  display: none;
}

#ModalPreLogin {
  animation: ease-in 0.2s;
  animation-iteration-count: 1;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

.modal {
  transition: opacity 0.15s linear;
}

#ModalPreLogin {
  justify-content: center;
}

#selection-modal {
  max-width: 70%;
}

.modal-header {
  justify-content: center;
}

.modal-header h2 {
  text-align: center;
  width: 100%;
  font-size: 15px;
}

.modal-header button {
  margin: 0px;
}

.modal-body {
  max-height: 520px;
  overflow: auto;
}

.nav-link {
  cursor: pointer;
}

.show {
  display: block;
}

.nav-link.active .dropdown_popup,
.shows {
  display: block;
  z-index: 2000;
  animation: animate_dropdown linear 0.2s;
  animation-iteration-count: 1;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  cursor: pointer;
  width: 13%;
}

.head_search_blks {
  width: 100%;
  float: left;
  padding: 5px 25px;
}

.search_input_txt {
  width: 100%;
  float: left;
  position: relative;
  height: 35px;
  border-radius: 15px;
  background-color: #efefef;
  font-size: 14px;
  padding: 5px 15px;
  padding-right: 40px;
  border: #c7bfbf;
}

.search_input {
  position: relative;
  max-width: 230px;
  margin: 0 auto;
}

.search_icons {
  position: absolute;
  right: 0;
  top: 10px;
  width: 50px;
  /* height: 59px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.itemcity {
  text-align: center;
  cursor: pointer;
  margin: 5px 0;
}

.card-border {
  border-radius: 15px;
  border: 1px solid rgb(189 134 141)
}

.card-border:hover {
  background-color: white !important;
  border: 1px solid #ac0003 !important;
  box-shadow: 0px 0px 5px 0 #ac00030f,
    0px 0px 5px 0px #ac00030f,
    0px 0px 5px 0px #ac00030f,
    0px 0px 5px 0px #ac00030f;
}

.itemcar {
  text-align: center;
  margin: auto;
  /* background-color: rgb(248 231 235); */
  border-radius: 15px;
  border: 1px solid #ac0003;
}

.cityimg {
  max-width: 83px;
  margin: 0 auto;
}

.cityimg img {
  /* margin-top: 15px; */
  width: 83px;
  height: 48px;
  border-radius: 10px;
}


.carimg img {
  margin-top: 15px;
  width: 83px;
  border-radius: 10px;
}

.fuelimg img {
  margin-top: 20px;
  width: 83px;
  height: 48px;
}

.itemcity h6 {
  margin: 5px 0px;
  padding: 5px;
  font-size: 0.85rem;
  max-width: 100%;
  font-weight: 700;
}

.itemcar h6 {
  margin: 10px 0px;
  padding: 5px;
  font-size: 0.85rem;
  max-width: 100%;
  font-weight: 700;
}

.itembutton {
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.itembutton button {
  border-radius: 12px;
  width: 90px;
  padding: 5px 10px;
}

@media only screen and (min-width: 577px) {}

.showspinner {


  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background-color: #f2f2f26c;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.spinner-border {
  position: fixed;
  left: 50vw;
  top: 50vh;



}

.active-nav .title {
  color: #9a1c1f;
}

.show-modal {
  display: block;
  z-index: 2;
  opacity: 1;
  animation: animate_dropdown linear .2s;
  animation-iteration-count: 1;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

.hide {
  display: none;
}

.max-width-550 {
  max-width: 550px;
}

.d-none {
  display: none;
}

.min-width-175 {
  min-width: 175px;
}

.modal-city {
  max-width: 80%;
  margin: 0 auto;
}

.err_msg {
  font-size: .825rem;
  color: #ac0003;
}

.car-manufacture-card {
  display: flex;
  min-height: 85px;
}

.car-manufacture-card .cityimg {
  margin: auto !important;
}

.btn-edit-car {
  background-color: #9A1C1F;
  border-color: #9A1C1F;
  border-style: none;
}

.change-car {
  color: #9A1C1F;
  font-size: 14px;
  font-weight: 500;
}


.sidebar-left {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 16rem;
  width: 16rem;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: white;
  color: #fff;
  transition: all 0.4s;
  box-shadow: inset -1px 0 0 rgb(18 38 63 / 5%);
  -moz-transition: width .3s ease-in-out, right .4s ease-in-out;
  -webkit-transition: width .3s ease-in-out, right .4s ease-in-out;
  -moz-transition: width .3s ease-in-out, right .4s ease-in-out;
  -o-transition: width .3s ease-in-out, right .4s ease-in-out;
  transition: width .3s ease-in-out, right .4s ease-in-out;
  /*
     animation: animate_slidbar linear .1s;
animation-iteration-count: 1;*/
}

.sidebar-left::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: white;
  /* or add it to the track */
}

.sidebar-left::-webkit-scrollbar-thumb {
  background: #00bcaa;
  border-radius: 5px;
}

.sidebar-menu-ul {
  width: 100%;
  float: left;
  padding-right: 20px;
}

.sidebar-menu-ul li {
  width: 100%;
  float: left;
  border-radius: 0 25px 25px 0;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;

}

.menu-overlay.active {
  display: block;
}

.menu-overlay {
  width: 100%;
  float: left;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.163);
  z-index: 1000;
  display: none;


  animation: animate_menu_overlay linear .1s;
  animation-iteration-count: 1;
}

@keyframes animate_menu_overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidebar-left {
  /*display: none;*/
  right: -300px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

.sidebar-left.active {
  display: block;
  right: 0;
  box-shadow: 20px 0 0 6px rgba(0, 0, 0, 0.699);
}

.show-sidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1001;
  height: 100vh;
  background-color: white;
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top-logo_wpr {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.top-logo_wpr .img_bl {
  width: auto;
  float: left;
}

.top-logo_wpr .logo-txt {
  width: auto;
  float: left;
  color: black;
  font-size: 18px;
}

.sidebar-menu-ul {
  width: 100%;
  float: left;
  padding-right: 20px;
}

.sidebar-menu-ul li {
  width: 100%;
  float: left;
  border-radius: 0 25px 25px 0;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;

}

.sidebar-menu-ul li .menu-link {
  width: 100%;
  float: left;
  padding: 8px 40px;
  color: black;
  font-size: 14px;
  border-radius: 0 25px 25px 0;
  position: relative;
}

.sidebar-menu-ul li .menu-link .icon-blk {
  font-size: 16px;
  color: black;
  margin-right: 10px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

.sidebar-menu-ul li.active .icon-blk {
  color: black;
}

.sidebar-menu-ul li:hover .icon-blk {
  color: black;
}

.sidebar-left hr {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;

}

.sidebar-menu-ul li.active .menu-link {
  background-color: white;

}
.sidebar-menu-ul li.active .menu-link.active {
  font-weight: 600;

}
.sidebar-menu-ul li .menu-link:hover {
  font-weight: 600;

}

.sub-menu-blk {
  width: 100%;
  float: left;
  padding-left: 80px;
  padding-top: 5px;
  display: none;
  animation: animate_submenu linear .1s;
  animation-iteration-count: 1;
}

.sub-menu-blk.active {
  display: block;
}

.sub-menu-blk .sub-menu-link {
  width: 100%;
  float: left;
  color: black;
  font-size: 14px;
  padding: 8px 5px;
  position: relative;

  border-radius: 0 35px 35px 0;

  margin-bottom: 5px;


  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;

}




.login-form-wpr {
  padding: 25px 40px;
}
.input-phone-wpr-blk{
  width: 100%;
  float: left;
  position: relative;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 5px 20px;
  height: 60px;
  margin: 5px 0px;
}
.mob-no{
  font-size: 12px;
  color: #828282;
  line-height: 15px;
}
.flag-img{
  width: 16px; 
  height:16px; 
  border-radius: 50%;
  margin-right: 4px;
}

.country-code-blk{
  display: flex;
  position: absolute;
  align-items: center;
  text-align: center;
  top: 29px;
  left: 20px;
  background-color: white;
  height: 20px;
  /* width: 65px; */
  border: none;
  border-right: 1px solid #D9D9D9;
  padding-right: 4px;
  font-weight: 500;
}
.input-txt-blk{
  padding: 10px;
  width: 80%;
  height: 20px;
  border: none;
  position: absolute;
  top: 29px;
  left: 76px;
  font-weight: 500;
  padding-left: 6px;
}
.otp-text{
  color: black;
  font-size: 16px;
  line-height: 20px;
}
.label_txt_1{
  font-weight: 500;
}
.fuel-col{
  max-width: 160px;
}
.s-options{
  /* width: 80%; */
  margin: auto;
}

:host ::ng-deep .owl-carousel .owl-item{
  cursor: pointer;
}

:host ::ng-deep .owl-carousel .owl-nav{
  position: static;
}
:host ::ng-deep .owl-prev{
  position: absolute;
  left: -90px;
  top: 25px;
}
:host ::ng-deep .owl-next{
  position: absolute;
  right: -90px;
  top: 25px;
}
:host ::ng-deep .owl-carousel .owl-item{
  padding: 10px 0;
  height: 85px;
}
:host ::ng-deep .owl-carousel .owl-item:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
:host ::ng-deep .owl-carousel .owl-item img{
  width: 40px;
  margin: auto;
}
:host ::ng-deep .owl-carousel .owl-item{
  text-align: center;
}
.slide-name{
  font-weight: bold;
}