<!-- Modal -->
<app-header [activeLink]="''"></app-header>
<section class="terms-of-use-slider filter_section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mob_hide">
        <div class="row">
          <h2>Terms of Use</h2>
          <p>
            Welcome to DART. This document is an electronic record in terms of
            Information Technology Act, 2000 and published in accordance with
            the provisions of Rule 4 of the Information Technology (Reasonable
            Security Practices and Sensitive Personal Data or Information)
            Rules, 2011 that require publishing the rules and regulations,
            privacy policy and Terms of Use for access or usage of the DART
            website (hereinafter referred to as "Platform"). This platform is
            owned and operated by Popular Motor Ventures LLP having headquarters
            situated at 46/3A, Kudlu gate, 7th mile, Hosur Road, Bangalore
            560068. Throughout the site, the terms “we”, “us” and “our” or "PMV"
            refer to Popular Motor Ventures LLP. We offer this website,
            including all information, tools and services available from this
            site to you, the user, conditioned upon your acceptance of all
            terms, conditions, policies and notices stated here.
          </p>
          <p>
            By visiting our site, and/or booking a slot with us you engage in
            our “Service” and agree to be bound by the following terms and
            conditions (“Terms of Service”, “Terms”), including those additional
            terms and conditions and policies referenced herein and/or available
            by hyperlink. These Terms of Service apply to all users of the site,
            including without limitation users who are browsers, vendors,
            customers, merchants, and/ or contributors of content.
          </p>
          <p>
            Please read these Terms of Service carefully before accessing or
            using our website. By accessing or using any part of the site, you
            agree to be bound by these Terms of Service. If you do not agree to
            all the terms and conditions of this agreement, then you may not
            access the website or use any services. If these Terms of Service
            are considered an offer, acceptance is expressly limited to these
            Terms of Service.
          </p>
          <p>
            Any new features or tools which are added to the current store shall
            also be subject to the Terms of Service. You can review the most
            current version of the Terms of Service at any time on this page. We
            reserve the right to update, change or replace any part of these
            Terms of Service by posting updates and/or changes to our website.
            It is your responsibility to check this page periodically for
            changes. Your continued use of or access to the website following
            the posting of any changes constitutes acceptance of those changes.
          </p>
          <ol>
            <li>
              Intellectual Property Disclaimer
              <p>
                All Trademarks and other Intellectual Property rights relating
                to the DART brand, and line of products and services that are
                displayed on this platform, including but not limited to the
                brand logo belongs to Popular Motor Ventures LLP, and/or its
                Partners, assigns, and as such may not be used without prior
                written permission from the owner of the intellectual property.
              </p>
              <p>
                Other than as specified above, neither the Site nor any of its
                Contents may be modified or copied in whole or part in any form,
                including by framing, incorporation into other websites or other
                publications, or be used to create any derivative work. No links
                to the Site may be included in any other website without Our
                prior written permission.
              </p>
              <p>
                Other than as specified above, nothing on the Site should be
                construed as granting any right or license. We do not guarantee
                that you have any right to use content available on the Platform
                that is owned by any third party, and that a third party's
                permission will not be required before you use such content.
                None of the Contents may be changed, nor may any copyright or
                author attribution notice appearing on any of the Contents be
                altered or removed, without our permission.
              </p>
            </li>
            <li>
              Disclaimer of Warranties & Limitation of Liability
              <p>
                We do not guarantee, represent or warrant that your use of our
                service will be uninterrupted, timely, secure or error-free. We
                do not warrant that the results that may be obtained from the
                use of the service will be accurate or reliable. You agree that
                from time to time we may remove the service for indefinite
                periods of time or cancel the service at any time, without
                notice to you.
              </p>
              <p>
                You expressly agree that your use of, or inability to use, the
                service is at your sole risk. The service and all products and
                services delivered to you through this service are (except as
                expressly stated by us) provided 'as is' and 'as available' for
                your use, without any representation, warranties or conditions
                of any kind, either express or implied, including all implied
                warranties or conditions of merchantability, merchantable
                quality, fitness for a particular purpose, durability, title,
                and non-infringement.
              </p>
            </li>
            <li>
              Modifications to the Service and Price
              <p>
                Service fees are subject to change without notice. We reserve
                the right at any time to modify or discontinue the Service (or
                any part or content thereof) without notice at any time. We
                shall not be liable to you or to any third-party for any
                modification, price change, suspension or discontinuance of the
                Service.
              </p>
            </li>
            <li>
              Accuracy of Billing and Account Information
              <p>
                We reserve the right to refuse any booking you place with us. We
                may, in our sole discretion, cancel/postpone a booking. These
                restrictions may include bookings made by or under the same
                customer account, the same credit card, and/or orders that use
                the same billing address. In the event that we make a change to
                or cancel a booking, we may attempt to notify you by contacting
                the e-mail and/or phone number provided at the time the order
                was made.
              </p>
              <p>
                You agree to provide current, complete and accurate purchase and
                account information for all bookings made through this site. You
                agree to promptly update your account and other information,
                including your email address and credit card numbers and
                expiration dates, so that we can complete your transactions and
                contact you as needed.
              </p>
            </li>
            <li>
              Errors, Inaccuracies and Omissions
              <p>
                Occasionally there may be information on our site or in the
                Service that contains typographical errors, inaccuracies or
                omissions that may relate to service descriptions, pricing,
                promotions, offers, timings, and slot availability. We reserve
                the right to correct any errors, inaccuracies, or omissions, and
                to change or update information or cancel bookings if any
                information in the Service or on any related website is
                inaccurate at any time without prior notice (including after you
                have submitted your booking request). We undertake no obligation
                to update, amend or clarify information in the Service or on any
                related website, including without limitation, pricing
                information, except as required by law. No specified update or
                refresh date applied in the Service or on any related website,
                should be taken to indicate that all information in the Service
                or on any related website has been modified or updated.
              </p>
            </li>
            <li>
              User Account, Password, and Security
              <ul>
                <li>
                  <p>
                    For all transactions or bookings through the platform the
                    User is required to register on the Platform. This process
                    of registration requires You to disclose certain personal
                    information of the User, including your name, pin code,
                    mobile number and/or email id, and verify the same using the
                    OTPs that will be sent to the disclosed mobile number and
                    email id. The User will only be registered once all contact
                    details are verified.
                  </p>
                </li>
                <li>
                  <p>
                    We reserve the right to not register a user, if it is found
                    that the information provided is not accurate or the pin
                    code provided does not fall within the State borders of
                    Kerala or Karnataka.
                  </p>
                </li>
                <li>
                  <p>
                    By registering with the Platform, the User consents to
                    receive emails, phone calls or SMS texts from Us regarding
                    Your booking, transaction, or any activity on the Platform,
                    or otherwise in relation to the services provided by PMV,
                    including seasonal offer details and new product launches.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              User Conduct and Rules on the Platform:
              <ul>
                <li>
                  <p>
                    You shall not use any false e-mail address, impersonate any
                    person or entity, or otherwise mislead Us by sharing
                    multiple addresses and phone numbers or transacting with
                    mala fide intentions. You may not pretend that You are, or
                    that You represent, someone else, or impersonate any other
                    individual or entity.
                  </p>
                </li>
                <li>
                  <p>
                    You shall not use any "deep-link", "page-scrape", "robot",
                    "spider" or other automatic devices, program, algorithm or
                    methodology, or any similar or equivalent manual process, to
                    access, acquire, copy or monitor any portion of the Platform
                    or any Content, or in any way reproduce or circumvent the
                    navigational structure or presentation of the Platform or
                    any Content, to obtain or attempt to obtain any materials,
                    documents or information through any means not purposely
                    made available through the Platform. We reserve Our right to
                    bar any such activity.
                  </p>
                </li>
                <li>
                  <p>
                    You shall not attempt to gain unauthorized access to any
                    portion or feature of the Platform, or any other systems or
                    networks connected to the Platform or to any server,
                    computer, network, or to any of the services offered on or
                    through the Platform, by hacking, password "mining" or any
                    other illegitimate means.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              Links To Other Websites
              <p>
                The Platform may contain links to third-party websites or
                services that are not owned or controlled by Us. We have no
                control over, and assume no responsibility for, the content,
                privacy policies, or practices of any third party websites or
                services. You further acknowledge and agree that PMV shall not
                be responsible or liable, directly or indirectly, for any damage
                or loss caused or alleged to be caused by or in connection with
                the use of or reliance on any such content, goods or services
                available on or through any such web sites or services.
              </p>
            </li>
            <li>
              Indemnity
              <p>
                You shall indemnify and hold harmless Popular Motor Ventures
                LLP, its owner, licensee, affiliates, subsidiaries, group
                companies (as applicable) and their respective officers,
                directors, agents, and employees, from any claim or demand, or
                actions including reasonable attorneys' fees, made by any third
                party or penalty imposed due to or arising out of Your breach of
                this Terms of Use, Privacy Policy and other Policies, or Your
                violation of any law, rules or regulations or the rights
                (including infringement of Intellectual Property rights) of a
                third party.
              </p>
            </li>
            <li>
              Governing Law
              <p>
                These terms shall be governed by and constructed in accordance
                with the laws of India without reference to conflict of laws
                principles, and disputes arising in relation hereto shall be
                subject to the jurisdiction of courts, tribunals, or other
                applicable authorities at Karnataka or Kerala, whichever may be
                applicable.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-privacy-policy></app-privacy-policy>
<app-cancellation-refund-privacy-policy></app-cancellation-refund-privacy-policy> -->
<app-footer-nav></app-footer-nav>
