<app-header></app-header>
<!-- Modal -->
<section class="terms-of-use-slider filter_section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mob_hide">
        <div class="row">
          <h2>PRIVACY POLICY</h2>
          <p>
            We, at Popular Motor Ventures LLP, value the trust you place in us
            and recognize the importance of secure transactions and information
            privacy. We strive to respect and protect the privacy of all Users
            who register their personal information and use the Services through
            this Platform. This Privacy Policy describes how we collect, use,
            share or otherwise process your personal information through this
            Platform.
          </p>
          <ol>
            <li>
              Collection of Information - Personal & Identifiable
              <p>
                We store collected personally identifiable information (email
                address, name, phone number, etc.) from our registered customers
                when a free account is set up with us. While one can browse
                through our site without the registration process, for the
                purpose of making a booking, one must complete the registration
                process by filling in all the valid information. We do use your
                contact information to send you intimation of new services &
                offers from time to time based on your previous bookings &
                interests.
              </p>
            </li>
            <li>
              Use of Demographic and Profile Data
              <p>
                The personal information provided is used for fulfilling the
                services request placed by customers. To the extent we use your
                personal information to market our offers and new product
                launches, there is an option provided to opt out of intimations.
                The information will also be used to resolve disputes;
                troubleshoot problems; promote safe service; collect fees (owed-
                billing); measure interests of our products & services,
                customize shopping/browsing experience; protect us against
                erroneous/fraudulent transactions, and other criminal
                activities, enforce the terms and conditions for shopping/usage
                of the webpage and as described to you at the time of collection
                of such relevant information.
              </p>
              <p>
                We continually aim to improve our service and gather suggestions
                to improve our range offered, the data collected is also used to
                analyse demographic and profile data about our users and their
                activity on our website. We identify and use your IP address to
                help diagnose problems, and to administer our website/ server
                from time to time. Your IP address is used to identify you & to
                gather broad demographic information.
              </p>
            </li>
            <li>
              Cookies
              <p>
                We use data collection devices such as "cookies" on certain
                pages of the Platform to help analyse our web page flow, measure
                promotional effectiveness, and promote trust and safety.
                "Cookies" are small files placed on your hard drive that assist
                us in providing our services. Cookies do not contain any of your
                personal information. We offer certain features that are only
                available through the use of a "cookie". We also use cookies to
                allow you to enter your password less frequently during a
                session. Cookies can also help us provide information that is
                targeted to your interests. Most cookies are "session cookies,"
                meaning that they are automatically deleted from your hard drive
                at the end of a session. You are always free to decline/delete
                our cookies if your browser permits, although in that case you
                may not be able to use certain features on the Platform and you
                may be required to re-enter your password more frequently during
                a session. Additionally, you may encounter "cookies" or other
                similar devices on certain pages of the Platform that are placed
                by third parties. We do not control the use of cookies by third
                parties. We use cookies from third-party partners such as Google
                Analytics for marketing and analytical purposes.
              </p>
            </li>
            <li>
              Security Precautions
              <p>
                We maintain reasonable physical, electronic and procedural
                safeguards to protect your information. Whenever you access your
                account information, we offer the use of a secure server. Once
                your information is in our possession we adhere to our security
                guidelines to protect it against unauthorized access. However,
                by using the Platform, the users accept the inherent security
                implications of data transmission over the internet and the
                World Wide Web which cannot always be guaranteed as completely
                secure, and therefore, there would always remain certain
                inherent risks regarding the use of the Platform. Users are
                responsible for ensuring the protection of login and password
                records for their accounts.
              </p>
            </li>
            <li>
              Your Consent
              <p>
                By visiting our Platform or by providing your information, you
                consent to the collection, use, storage, disclosure and
                otherwise processing of your information (including sensitive
                personal information) on the Platform in accordance with this
                Privacy Policy. If you disclose to us any personal information
                relating to other people, you represent that you have the
                authority to do so and to permit us to use the information in
                accordance with this Privacy Policy.
              </p>
              <p>
                You, while providing your personal information over the Platform
                or any partner platforms or establishments, consent to us
                (including our other corporate entities, affiliates, lending
                partners, technology partners, marketing channels, business
                partners, and other third parties) to contact you through SMS,
                instant messaging apps, call and/or e-mail for the purposes
                specified in this Privacy Policy.
              </p>
            </li>
            <li>
              Grievance Officer
              <p>
                In accordance with Information Technology Act 2000 and the rules
                made there under, the name and contact details are provided
                below:
              </p>
              <p>Grievance Officer: 9980077990</p>
              <p>
                The Grievance Officer shall address any discrepancies and
                grievances of the User with respect to the collection and
                processing of information. Any queries about this Privacy
                Policy, you can also email us at contact@dart.repair
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-nav></app-footer-nav>
