.estimate_car_card{
    width: 100%;
    float: left;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 15px;
      transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
  }
  .estimate_car_card:hover{
  box-shadow: 0 3px 9px 0px rgb(0 0 0 / 26%);
  
  }
  
  
  .estimate_car_card .col-change-blk{
    width: 100%;
    float: left;
  }
  .estimate_car_card .icon{
    width: auto;
    float: left;
    max-width: 100px;
  }
  .estimate_car_card .search-input{
    width: 100%;
    float: left;
  }
    .estimate_car_card .search-input .wpr{
      font-weight: 600;
      font-size: 18px;
    }
        .estimate_car_card .search-input small{
      color: #6c6c6c;
      font-weight: 600;
    }
  .estimate_car_card .small{
    width: 100%;
    float: left;
  }
  
  
  .estimate_car_card .col-change-blk{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
  }
  
  .estimate_car_card .check_list{
    width: 100%;
    float: left;
  }
  .estimate_car_card ul{
    width: 100%;
    float: left;
  }
  .estimate_car_card li{
    width: 100%;
    float: left;
  }
  .estimate_car_card .info_wpr{
       width: 100%;
      float: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
  }
  .estimate_car_card .col_info{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
  }
  .estimate_car_card .check_icon{
    min-width: 15px;
    float: left;
    min-height: 15px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px #000;
    margin-right: 10px;
  }
  .estimate_car_card .check_icon.active{
  background-color: #000;
  }
  .estimate_car_card .title{
    width: 100%;
    float: left;
    font-weight: 600;
    font-size: 14px;
    color: #000;
  }
  .estimate_car_card .col_amount{
    width: auto;
    float: left;
    white-space: nowrap;
    font-size: 14px;
    color: #6c6c6c;
    font-weight: 600;
  }

  .card_call{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    justify-content: center;
    margin-bottom: 15px;
 }
 
 .card_call .icon_col{
   width: 130px;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
 }
 .card_call .icon{
   float: left;
   width: 45px;
   height: 45px;
   position: relative;
   margin-bottom: 15px;
 }
 .card_call .round{
   width: 50px;
   height: 50px;
   float: left;
   border-radius: 50%;
   background-color: #FFD166;
   position: absolute;
   top: 0;
   left: 0;
 }
 .card_call .img_icon{
       width: 70px;
       position: relative;
       z-index: 1;
       right: -13px;
       bottom: -7px;
 }
 .card_call .text_col{
   width: 100%;
   float: left;
   font-size: 16px;
   font-weight: 600;
   padding-left: 10px;
   line-height: 18px;
 }
 .page-section{
    width: 100%;
    float: left;
    padding: 60px 0;
    overflow: hidden;
    /*min-height: 100vh;*/
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.title_faq{
    width: 100%;
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  display: list-item;
  margin-left: 1em;
  margin-bottom: 15px;
}



.faq_wpr{
width: 100%;
float: left;
}
.faq_wpr .head_wpr{
width: 100%;
float: left;
margin-bottom: 15px;
}
.faq_wpr h2{
width: 100%;
float: left;
color: #000;
}
.faq_wpr .body_wpr{
width: 100%;
float: left;
}
.faq_wpr .faq_qa_wpr{
width: 100%;
float: left;
border-top: solid 1px #E6E6E6;
padding: 15px 0;
}
.faq_wpr .question_blk{
width: 100%;
float: left;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 0;
cursor: pointer;
}
.ft_wpr hr{
    width: 100%;
    float: left;
    height: 1px;
    background-color: #f5f5f5;
}
hr{
    width: 100%;
    float: left;
}
.faq_wpr .question_title{
width: 100%;
float: left;
font-size: 18px;
font-weight: 600;
color: #000;
padding-right: 15px;
}
.faq_wpr .icon{
width: 40px;
float: left;
font-size: 22px;
}
.faq_wpr .answer_blk{
width: 100%;
float: left;
padding: 15px 0;
font-size: 16px;
/* display: none;
animation: animate_faq linear .2s;
animation-iteration-count: 1; */

}


@keyframes animate_faq {
0% {
     opacity: 0;
    transform: translate(0px, 10px);
  }
100% {
    opacity: 1;
    transform: translate(0px, 0);
  }


}

