/* You can add global styles to this file, and also import other style files */
@import '../node_modules/sal.js/dist/sal.css';
@import '~ngx-toastr/toastr';
.owl-carousel .owl-nav{
    width: auto;
    float: left;
    position: absolute;
    top: -60px;
    right: 0;
}
.owl-carousel .owl-nav .owl-prev, .owl-next{
    width: 35px;
    float: left;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 11px 0px rgb(0 0 0 / 5%);
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    animation: animate_dropdown linear 0.2s;
    animation-iteration-count: 1;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    display: none;
  }
  @media (min-width:768px) {
    .modal-dialog.modal-lg {
      max-width: 700px;
      margin: 1rem auto;
    }
  }
  @media (min-width:1080px) {
    .modal-dialog.modal-lg {
      max-width: 1000px;
      margin: 1rem auto;
    }
  }
  @media (min-width:576px) {
    .modal-dialog.modal-lg {
      min-width: 576px;
      margin: 1rem auto;
      padding: auto 5px;
    }
  }

  ngx-otp-input {
    .otp-container-ngx {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .ngx-otp-input.otp-input-class{
      width: 55px;
      height: 55px;
      border: 1px solid #E2E2E2;
      border-radius: 10px;
    }
    .ngx-otp-input.otp-input-class.otp-txt{
      border: 1px solid black;
    }
  }
  .page-section-title{
    font-size: 40px;
    font-weight: 500;
    color: #141414;
  }
  body{
    color: #000000;
  }
  .pull-left{
    float: left;
  }
  .c_pointer{
    cursor: pointer;
  }
