<app-header></app-header>
<!-- Modal -->
<section class="terms-of-use-slider filter_section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mob_hide">
        <div class="row">
          <h2>CANCELLATION & REFUND POLICY</h2>
          <ol>
            <li>
              Booking Cancellations
              <p>
                Once a booking is made through the platform, the User may have
                the option to cancel the booking before the Repair Order is
                processed. After the date of Repair Order the customer will no
                longer have an option to cancel the booking.
              </p>
              <p>
                In case the booking is cancelled before the Repair Order is
                processed, the relevant amount paid if any will be refunded
                within 14 working days (from the day of cancellation), and the
                amount shall be credited or transferred to the bank account
                through which the payment was made.
              </p>
              <p>
                For any other issues relating to booking cancellations or
                refunds please contact the relevant DART location directly.
              </p>
            </li>
          </ol>
          <h6>
            All or any other specific policies regarding our services shall be
            made available on the FAQ tab of the Platform, all of which are
            incorporated here by reference.
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-nav></app-footer-nav>
