.errorname{
    display: block;
    top: 45px;
    position: absolute;
}

/* .errormsg{
    display: block;
    top: 160px;
    position: absolute;
} */

.item{
    margin-bottom: 1.8rem
}
.show {
    display: block;
}


.type {
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: center;
}
.itemcity {

    text-align: center;
    cursor: pointer;
    margin: 10px 15px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(183, 169, 198, 0.462);
  }

  .itemcity:hover{
    background-color: rgb(172 0 3 / 29%)
  }

  .selected {
    background-color: rgb(172 0 3);
  }
  .selected h6{
    color: #FFFFFF;
  }
#ModalAdd_Address{
  max-height: 90vh;
}
.modal-content{ 
  max-height: 100%;
  overflow-y: scroll;
}
  /* @media only screen and (max-width: 992px) {
    .errormsg{
       
        top: 280px;
        
    }
  } */
