
<ng-container>
    <app-header [activeLink]="'about-us'"></app-header>
    <div class="about_us_container">
        <div class="abt_us_head text-center">
          Who are we?
        </div>
        <!-- <div class="abt_us_desc">
            The Prestigious Popular Group proudly presents its latest venture - Popular Motor Ventures LLP - a cutting-edge service and repair center catering to multi-brand vehicles. Our unwavering commitment is to deliver unparalleled service to our esteemed clients in the quickest possible time.
            To ensure our clients' convenience, we have launched a user-friendly website named DART.repair. This platform allows them to effortlessly schedule appointments and take a virtual tour of our top-notch facilities and services.
            At Popular Motor Ventures LLP, safeguarding our clients' privacy is of utmost importance. Hence, we have implemented a secure and seamless one-time password system, accessible through their mobile devices. This authentication process allows them to access the website, where they can explore their vehicle details and engage with us authentically.
            Join us at Popular Motor Ventures LLP, where excellence meets authenticity for an exceptional client experience.
        </div> -->
        <div class="section-content ">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul id="masonry" class="row dlab-gallery-listing gallery-grid-4 gallery lightgallery m-b0" style="position: relative; height: auto;">
                        <li class="home card-container col-lg-3 col-xl-3 col-md-4 col-sm-12 col-12">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/skilled.jpg" alt=""></a>
                                  
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Skilled, trained &amp; passionate mechanics</a></h4>
                                   
                                    <div class="ow-entry-text m-b15">
                                        <p>
                                            Dart's passionate technicians are the heart of our service, embodying professionalism, expertise, and unwavering dedication.  Rigorous training ensures top-notch care for your car, maximizing performance &amp; reliability. Trust Dart - skilled hands, dedicated hearts, exceeding expectations.  </p> </div>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="office card-container col-lg-3 col-xl-3 col-md-4 col-sm-12">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/pick.jpg" alt=""></a>
                                   
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Free pickup &amp; drop</a></h4>
                                   
                                    <div class="ow-entry-text m-b15">
                                        <p>Fix fast, skip stress. Free pickup &amp; drop-off (10-15km) gets you back on the road. Your schedule, your convenience, peace of mind. We handle it all.</p> </div>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="card-container col-lg-3 col-xl-3 col-md-4 col-sm-12 commercial">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/dedicated.jpg" alt=""></a>
                                  
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Dedicated Service advisors</a></h4>
                                    
                                    <div class="ow-entry-text m-b15">
                                        <p>Get expert care, personalized attention. Schedule your service appointment with Dart's dedicated advisors today.</p> </div>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="commercial card-container col-lg-3 col-xl-3 col-md-4 col-sm-12">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/industry.jpg" alt=""></a>
                                    
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Industry standard tools</a></h4>
                                   
                                    <div class="ow-entry-text m-b15">
                                        <p>
                                            Expert repairs, trusted tools. DART utilizes the industry's best equipment for precise diagnosis &amp; efficient fixes, keeping your car running smoothly.</p> </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="abt_us_head text-center pt-4">
                Why Choose DART?
            </div>
            <div class="col-md-12 row section-content" style="margin: auto;">
                <div class="col-md-3 col-sm-12 ml-2 abt_wpr">
                    <div class="abt_head">
                        Local Workshops
                        <div class="triangle_down_gray"></div>
                    </div>
                    <div class="abt_content">
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Quality checks to deliver the best quality service</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Genuine parts will guaranteed bill</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Upfront Pricing</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Pickup and Drop</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Seamless booking experience</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Live service updates</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 ml-2 abt_wpr">
                    <div class="abt_head">
                        OEM
                        <div class="triangle_down_gray"></div>
                    </div>
                    <div class="abt_content">
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Quality checks to deliver the best quality service</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Genuine parts will guaranteed bill</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Upfront Pricing</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Pickup and Drop</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Seamless booking experience</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-close"></i></div>
                            <div>Live service updates</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 ml-2 abt_wpr">
                    <div class="abt_head abt_head_blue">
                        DART
                        <div class="triangle_down_blue"></div>
                    </div>
                    <div class="abt_content">
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Quality checks to deliver the best quality service</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Genuine parts will guaranteed bill</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Upfront Pricing</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Pickup and Drop</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Seamless booking experience</div>
                        </div>
                        <div class="abt_desc">
                            <div><i class="fa fa-check"></i></div>
                            <div>Live service updates</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-our-process></app-our-process>
</ng-container>
<app-footer-nav></app-footer-nav>

<!-- <div class="section-full bg-white content-inner recent-vehicle">
    <div class="container">
        <div class="section-head text-center ">
            <h2 class="text-uppercase">WHY <span class="text-primary">CHOOSE US </span></h2>
            <p>One of it's kind
                experience backed</p> </div>
        <div class="section-content ">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul id="masonry" class="row dlab-gallery-listing gallery-grid-4 gallery lightgallery m-b0" style="position: relative; height: 876px;">
                        <li class="home card-container col-lg-3 col-xl-3 col-md-4 col-sm-12 col-12">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/skilled.jpg" alt=""></a>
                                  
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Skilled, trained &amp; passionate mechanics</a></h4>
                                   
                                    <div class="ow-entry-text m-b15">
                                        <p>
                                            Dart's passionate technicians are the heart of our service, embodying professionalism, expertise, and unwavering dedication.  Rigorous training ensures top-notch care for your car, maximizing performance &amp; reliability. Trust Dart - skilled hands, dedicated hearts, exceeding expectations.  </p> </div>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="office card-container col-lg-3 col-xl-3 col-md-4 col-sm-12">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/pick.jpg" alt=""></a>
                                   
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Free pickup &amp; drop</a></h4>
                                   
                                    <div class="ow-entry-text m-b15">
                                        <p>Fix fast, skip stress. Free pickup &amp; drop-off (10-15km) gets you back on the road. Your schedule, your convenience, peace of mind. We handle it all.</p> </div>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="card-container col-lg-3 col-xl-3 col-md-4 col-sm-12 commercial">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/dedicated.jpg" alt=""></a>
                                  
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Dedicated Service advisors</a></h4>
                                    
                                    <div class="ow-entry-text m-b15">
                                        <p>Get expert care, personalized attention. Schedule your service appointment with Dart's dedicated advisors today.</p> </div>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="commercial card-container col-lg-3 col-xl-3 col-md-4 col-sm-12">
                            <div class="dlab-box dlab-gallery-box">
                                <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom-slow">
                                    <a href="#"><img src="https://campaign.dart.repair/images/industry.jpg" alt=""></a>
                                    
                                </div>
                                <div class="ow-entry-content text-center">
                                    <h4 class="font-weight-600 m-b15"><a href="#">Industry standard tools</a></h4>
                                   
                                    <div class="ow-entry-text m-b15">
                                        <p>
                                            Expert repairs, trusted tools. DART utilizes the industry's best equipment for precise diagnosis &amp; efficient fixes, keeping your car running smoothly.</p> </div>
                                   
                                </div>
                            </div>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
