.imgupd{

    margin-bottom: 20px;
}
.imagesee{

height: 100px;
width: 100px;
display: flex;
flex-direction: column;
justify-content: space-around;
margin-bottom: 20px;
border: 1px solid #eee;
background-color: #eee;
border-radius: 100px !important;
position: relative;
overflow: hidden;
}
.b-0{
    border: none;
}
.imagesee input[type="file"]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    z-index: 1001;
    cursor: pointer;
}