<section class="page-section p_relative experience_wpr">
  <span
    class="round"
    data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="100"
  ></span>
  <div class="round_line_blk">
    <div class="round_border_wpr">
      <span class="round_border">
        <span class="round_border">
          <span class="round_border">
            <span class="round_border">
              <span class="round_border">
                <span class="round_border"> </span>
              </span>
            </span>
          </span>
        </span>
      </span>
    </div>
  </div>

  <div class="container container-full-wpr">
    <div class="row">
      <div class="col-md-6">
        <div
          class="about_text_wpr"
          data-sal="slide-up"
          data-sal-duration="800"
          data-sal-delay="100"
        >
          <h4>WHY CHOOSE US</h4>
          <h2>
            One of it's kind <br />
            experience backed
          </h2>
          <div class="desc"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="card_experience">
          <div class="icon_wpr">
            <span class="icon bg_1"><i class="ti ti-settings"></i></span>
          </div>
          <h3>Skilled, trained & passionate mechanics</h3>
          <div class="desc"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card_experience">
          <div class="icon_wpr">
            <span class="icon bg_2"><i class="ti ti-settings"></i></span>
          </div>
          <h3>Free pickup & drop</h3>
          <div class="desc"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card_experience">
          <div class="icon_wpr">
            <span class="icon bg_3"><i class="ti ti-settings"></i></span>
          </div>
          <h3>Dedicated Service advisors</h3>
          <div class="desc"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card_experience">
          <div class="icon_wpr">
            <span class="icon bg_4"><i class="ti ti-settings"></i></span>
          </div>
          <h3>Industry standard tools</h3>
          <div class="desc"></div>
        </div>
      </div>
    </div>
  </div>
</section>
