.owl-carousel{
    display: inline-block;
}
.col-search-blk.active .dropdown_popup.show, .show{
    display: block;
    z-index: 2;
    animation: animate_dropdown linear .2s;
    animation-iteration-count: 1;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
}
.about_us_detail p{
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: justify;
}
.btn-submit {
    float: right;
    width: 125px;
    padding: 8px 7px;
    text-align: center;
}
/* .card_product .desc{
    min-height: 72px;
} */
.icon .icon-img{
    width: 25px;
    height: 25px;
}
#services-slider:hover{
    cursor: pointer;
}
#car-dropdown{
    width: 90%;
    left: 9%;
}
.dropdown_popup .title {
    padding-left: 5px;
  }

.home_slide{
    background-image: url('../../../assets/images/slider/1.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide_content{
    width: 340px;
    position: absolute;
    right: 10%;
    top: 200px;
}
.slide_content h3{
    margin-bottom: 15px;
}
.slide_content div{
    padding-bottom: 10px;
}
.slide_content span{
   display: inline-block;
}
.slide_content img{
    width: 20px;
}
.dart_desc{
    margin-top: 75px;
}
.slide_container{
    position: relative;
}
.slide_content_last{
    width: 50%;
}
.home_form{
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255, .3);
    position: absolute;
    left: 10%;
    top: 200px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    z-index: 2;
}
.home_form h3{
    margin-bottom: 15px;
    font-size: 20px;
}
.home_form_desc{
    margin-bottom: 15px;
}
.form_group{
    margin-bottom: 15px;
}
.form_group label{
    display: block;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 14px;
}
.form_group input, .form_group select{
    border: none;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;

}
.home_form button{
    margin-top: 10px;
    width: 100%;
    background-color: #9a1c1f;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 4px;
}
:host ::ng-deep .owl-carousel .owl-nav{
    position: static;
}
:host ::ng-deep .owl-prev{
    position: absolute;
    left: 20px;
    top: 40%;
}
:host ::ng-deep .owl-next{
    position: absolute;
    right: 20px;
    top: 40%;
}

@media screen and (max-width: 1024px) {
    .home_slide{
        height: 200vh;
        height: 1100px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .home_form{
        left: 0;
        right: 0;
        margin: auto; 
    }
    .slide_content{
        left: 10%;
        /* top: 50%; */
        top: 650px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
@media screen and (max-width: 500px) {
    .home_form{
        width: 250px;
    }
}

