.show{
    display: block;
    opacity: 1;
}
/* select{
    float: left;
    margin-bottom: 10px;
    border: solid 1px #D9D9D9;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
} */
.calendar_wrapper{
    max-width: 100%;
}
.veh_title{
    margin-bottom: 30px;

}
.car_details{
    padding: 10px 0;
}
.car_details label{
    width: 150px;
    font-weight: bold;
}
.car_details select{
    width: 50%;
    height: 40px;
    margin-left: 10px;
    border-radius: 8px;
}